<h2>Create Timeline</h2>

<%= simple_form_for @timeline do |timeline| %>
	<%= form.input :name, placeholder: 'Name' %>
	<%= form.input :summary, placeholder: 'Summary' %>
	<%= form.button :submit %> 
<% end %><br>

<button><%= link_to "Go Back", root_path %></button>